###############################################################################
# LOCALHOST.CFG - SAMPLE OBJECT CONFIG FILE FOR MONITORING THIS MACHINE
#
#
# NOTE: This config file is intended to serve as an *extremely* simple 
#       example of how you can create configuration entries to monitor
#       the local (Linux) machine.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        use                     linux-server            ; Name of host template to use
							; This host definition will inherit all variables that are defined
							; in (or inherited by) the linux-server host template definition.
        host_name               AWS_NAGIOS_SERVER
        alias                   AWS_NAGIOS_SERVER
        address                 18.217.59.182
        }

define host{
        use                     linux-server            ; Name of host template to use
                                                        ; This host definition will inherit all variables that are defined
                                                        ; in (or inherited by) the linux-server host template definition.
        host_name               AWS_APACHE2_SERVER
        alias                   AWS_APACHE2_SERVER
        address                 18.218.5.136
        }

define host{
        use                     linux-server            ; Name of host template to use
                                                        ; This host definition will inherit all variables that are defined
                                                        ; in (or inherited by) the linux-server host template definition.
        host_name               AWS_MySQL_SERVER
        alias                   AWS_MySQL_SERVER
        address                 18.217.4.156
        }

###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################
###############################################################################

# Define an optional hostgroup for Linux machines

define hostgroup{
        hostgroup_name  linux-servers ; The name of the hostgroup
        alias           Linux Servers ; Long name of the group
        members         AWS_NAGIOS_SERVER, AWS_APACHE2_SERVER, AWS_MySQL_SERVER     ; Comma separated list of hosts that belong to this group
        }



###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_NAGIOS_SERVER
        service_description             Network: Nagios Server PING Responces
	check_command			check_ping!100.0,20%!500.0,60%
        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_NAGIOS_SERVER
        service_description             General: HDD State
	check_command			check_local_disk!20%!10%!/
        }



# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_NAGIOS_SERVER
        service_description             General: CPU Processes
	check_command			check_local_procs!250!400!RSZDT
        }



# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_NAGIOS_SERVER
        service_description             General: CPU Usage
	check_command			check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        }



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_NAGIOS_SERVER
        service_description             General: Total Swap Space
	check_command			check_local_swap!20!10
        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_NAGIOS_SERVER
        service_description             Network: HTTP Connectivity
	check_command			check_http
	notifications_enabled		0
        }

#-----------------------------------------------------------------------------

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_APACHE2_SERVER
        service_description             Network: Apache Web Server PING Responces
        check_command                   check_ping!100.0,20%!500.0,60%
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_APACHE2_SERVER
        service_description             General: HDD State
        check_command                   check_local_disk!20%!10%!/
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_APACHE2_SERVER
        service_description             General: CPU Processes
        check_command                   check_local_procs!250!400!RSZDT
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_APACHE2_SERVER
        service_description             General: CPU Usage
        check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_APACHE2_SERVER
        service_description             General: Total Swap Space
        check_command                   check_local_swap!20!10
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_APACHE2_SERVER
        service_description             Network: HTTP Connectivity
        check_command                   check_http
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_APACHE2_SERVER
        service_description             Network: HTTPS Connectivity
        check_command                   check_tcp!443
        notifications_enabled           0
        }

#---------------------------------------------------------------------------------------------------------------------------------------------------

define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_MySQL_SERVER
        service_description             Network: MySQL Server PING Responces
        check_command                   check_ping!100.0,20%!500.0,60%
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_MySQL_SERVER
        service_description             General: HDD State
        check_command                   check_local_disk!20%!10%!/
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_MySQL_SERVER
        service_description             General: CPU Processes
        check_command                   check_local_procs!250!400!RSZDT
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_MySQL_SERVER
        service_description             General: CPU Usage
        check_command                   check_local_load!5.0,4.0,3.0!10.0,6.0,4.0
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_MySQL_SERVER
        service_description             General: Total Swap Space
        check_command                   check_local_swap!20!10
        notifications_enabled           0
        }


define service{
        use                             local-service         ; Name of service template to use
        host_name                       AWS_MySQL_SERVER
        service_description             Network: MySQL DB Connection
        check_command                   check_tcp!80
        notifications_enabled           0
        }

